<%= form_for ([@userstory.feature.project,@userstory.feature,@userstory]) do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<fieldset>
		<div class="clearfix<%= " error" if @userstory.errors[:content].any? %>">
	    	<%= f.label :content %>
	        <div class="input">
				<%= f.text_field :content, :class => "xlarge", :autocomplete => "off" %>
	        </div>
		</div>
  </fieldset>
	<div class="actions">
		<%= f.submit "Save change", :class =>  "btn primary" %>
		<%= link_to "Cancel", project_feature_path(@userstory.feature.project,@userstory.feature), :class => "btn" %>
	</div>
<% end %>