  <h3>
	  <a class="article-handle" href="#/<%= project_id %>/features/<%= id %>"><%= name %></a>
	  <small><a href="#/<%= project_id %>/features/<%= id %>/edit">edit</a></small>
	  <div class="size_action" feature_id="<%= id %>"></div>
  </h3>
  <div class="feature-content">
    <p class="description"><%= description %></p>
    <ul class="userstories" id="feature_<%= id %>">
    <li class="anchor clearfix">anchor</li>
    
    </ul>
    
  </div>
